<!-- Fact section -->
	<section class="fact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="{{ url_for('static',filename='img/icons/1.png') }}" alt="">
					</figure>
					<h2>2500</h2>
					<p>New Students</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="{{ url_for('static',filename='img/icons/2.png') }}" alt="">
					</figure>
					<h2>14k</h2>
					<p>Grad Students</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="{{ url_for('static',filename='img/icons/3.png') }}" alt="">
					</figure>
					<h2>129</h2>
					<p>Qualified Teachers</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="{{ url_for('static',filename='img/icons/4.png') }}" alt="">
					</figure>
					<h2>1490</h2>
					<p>Amazing Courses</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact section end -->