<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{{ url_for('static',filename='img/bg.jpg') }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="hero-text text-white">
					<h2>Literature Course</h2>
					<p>Donec id mattis est. Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id. Nullam vulputate a lectus non molestie. </p>
					<div class="hero-author">
						<div class="hero-author-pic set-bg" data-setbg="{{ url_for('static', filename='img/hero-author.jpg') }}"></div>
						<h5>By Sebastian Smith, <span>Senior Lead Developer</span></h5>
						<a href="#" class="site-btn">See Details <i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->