<!-- Newslatter section -->
	<section class="newslatter-section set-bg" data-setbg="{{ url_for('static',filename='img/newslatter-bg.jpg') }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="sec-title text-white sec-style-2">
						<span>Newsletter</span>
						<h2>Stay updated</h2>
					</div>
				</div>

				<div class="col-lg-9 nl-form-warp">
					<form class="newslatter-form">
						<input type="text" placeholder="Your E-mail">
						<button class="site-btn">Subscribe <i class="fa fa-angle-right"></i></button>
					</form>
					<p>*Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Newslatter section end -->