<!-- Review section -->
	<section class="review-section spad set-bg" data-setbg="{{ url_for('static',filename='img/review-bg.jpg') }}">
		<div class="container">
			<div class="sec-title text-center text-white">
				<span>our students</span>
				<h2>Testimonials</h2>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="review-slider owl-carousel text-white">
					<div class="rs-item">
						<div class="quota">“</div>
						<h5>It helped me so much</h5>
						<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Etiam nec odio vestibulum est mat tis effic iturut magna vestibulum est mat tis effic iturut magna.</p>
						<div class="review-avator set-bg" data-setbg="{{ url_for('static',filename='img/review-avator.jpg') }}"></div>
						<h6><span>Daiane Smith,</span> Student</h6>
					</div>
					<div class="rs-item">
						<div class="quota">“</div>
						<h5>It helped me so much</h5>
						<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Etiam nec odio vestibulum est mat tis effic iturut magna vestibulum est mat tis effic iturut magna.</p>
						<div class="review-avator set-bg" data-setbg="{{ url_for('static',filename='img/review-avator.jpg') }}"></div>
						<h6><span>Daiane Smith,</span> Student</h6>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->